@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #1B1E2C;
    color: #fff;
}

hode ::-webkit-scrollbar {
    
}

body::-webkit-scrollbar {
    display: none;
}
div::-webkit-scrollbar {
    display: none;
}

.glow{

}