@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #1B1E2C;
    color: #fff;
    margin-bottom:4rem;
}

a, Link{
    -webkit-tap-highlight-color: transparent;
}

body::-webkit-scrollbar {
    display: none;
}
div::-webkit-scrollbar {
    display: none;
}

